@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Manufacturing+Consent&family=Michroma&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
/* NavBar section */
.navBarSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 4px 4px rgba(0,0,0,0.1), 0 8px 8px rgba(0,0,0,0.1);
  position: fixed;
  z-index: 100;
  width: 90%;
  min-width: 90%;
  background-color: white;
  top: 0;
  left: 0;
}
.cartIcon{
  font-size: x-large;
}
.IconCart{
  font-size: x-large;
  margin-right: 5px;
}
.cartCount{
  margin-left: 5px;
}
/*search bar*/
.inputDiv {
  display: flex;
  align-items: center;
  width: 360px;
  background: #f2f2f2;
  padding: 10px 14px;
  border-radius: 10px;
}

.searchIcon {
  margin-right: 8px;
  font-size: 16px;
  opacity: 0.7;
}

.inputDiv input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
}

.inputDiv input::placeholder {
  color: #7e808c;
}
.companyName{
  color: orangered;
}
/*itemsdisplayitem*/
.itemsImgsSection{
  display: flex;
  width: 100%;
  margin-top: 100px;
}
.itemsGallery{
  width: 150px;
}
.itemsGallery img{
  width: 100%;
  object-fit: cover;
}
/*Midlle section */
.middleSection{
  padding: 0 120px;
}
/* chainsection */
.foodChainSection{
  display: flex;
  overflow: hidden;
  /* position: relative; */
  height: auto;
}
.vendorsGroup{
  margin-right: 30px;
  border-radius: 10px;
 
}
.firmImages{
 height: 200px;
  width: 300px;
}
.firmImages img{
  height: 100%;
  width: 100%;
  flex: 0 0 auto;
  object-fit: cover;
  border-radius: 10px;
}
.btnSection{
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 50px;
  right: 20px;
  gap: 10px;
}
.btns{
  font-size: x-large;
   border: none;
   background: none;
  
}
/*firm section */
.firmCollectionSection{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  margin: 0 0 auto;
}
.filterButtons{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.filterButtons button{
  width: 10rem;
  padding: 5px 0px;
   border: none;
  border-radius: 5px;
}
.firmImgs{
  height: 180px;
  width: 240px;
  position: relative;
}
.firmDetails{
  position: relative;
}
.firmImgs img{
  height: 100%;
  width: 100%;
  flex: 0 0 auto;
  object-fit: cover;
  border-radius: 10px;
}
.firmRegions{
  font-size: 0.8rem;
  color: grey;
}
.firmOffer{
  position:absolute;
  bottom: 0;
  font-size:1rem;
  font-weight: 800;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
   padding: 10px;
  text-transform: uppercase;
  background: transparent;
  color: white;
  background: linear-gradient(to bottom,rgba(50,0,0,0.08),black);
  width: 100%;
  max-width: 92%;
}
.activeBtn{
  background-color:orange;
  color: white;
  border: none;
  border-radius: 5px;
}

/*products section */
.foodItemsSection{
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  border-top: 2px solid lightgray;
}
.foodImgs{
    position: relative;
}
.foodImgs img{
  width: 100px;
  object-fit: cover;
  border-radius: 10px;
}
.productSection{
  padding: 0 120px;
  margin-top: 100px;
}
.addBtn{
  text-align: center;
}
.addBtn button{
  padding: 5px 15px;
  border-radius: 5px;
  color: green;
  background-color: white;
  border: 1px solid gray;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100%;
  max-width: 80px;
  cursor: pointer;
}
.addBtn:active{
  background-color: orangered;
  border: none;
}
.productName{
  font-weight: bold;
}
.link{
  color:black;
  text-decoration: none;
}
.productFirmName{
  background-color: orange;
  text-align: center;
  border-radius: 10px;
}
/* loaderSection*/
.loaderSection{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*CART PAGE*/
.cartItemsSection{
  padding: 0 120px;
  margin-top: 100px;

}
.eachItem{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.trashBtn{
  height: 40px;
  width: 70px;
  text-align: center;
}
.trashBtn:active{
  background-color: orangered;
  border: none;
}
.eachItem img{
  width: 120px;
  object-fit: cover;
  border-radius: 10px;
}
.headings{
  display:flex;
  justify-content: space-between;
  padding: 10px 30px;
  border-top: 2px solid lightgray;
  font-weight: 700;
}
.cartItemDesc{
  width: 250px
}
.cartItemPrice{
  width: 120px;
}
.cartProductName{
  width: 250px;
}
.cartProductImg{
  width: 120px;
   text-align: center;
}
.emptyCart{
  display: flex;
  margin-top: 100px;
  height: 500px;
  width: 800px;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  
}
.emptySection{
  padding: 0 420px;
}
.cartItemsSection h3{
  text-align: center;
  background-color: orange;
  border-radius: 5px;
  color: black;
}
.orderBtn{
 position: absolute;
 right: 0;
 margin-right: 5px;
}
.orderBtn button{
  padding: 8px 15px;
  background-color: orangered;
  border: none;
  border-radius: 5px;
  color:black;
  font-weight: 700;
  cursor: pointer;
}
.totalPrice{
  position: relative;
  font-weight: 600;
  padding: 20px 20px;
  padding-bottom: 27px;
  background-color:rgba(128, 128, 128, 0.653);
  border-radius: 5px;
}
/* media queries */
@media(max-width:576px){
  .navBarSection{
    width: 100%;
    height:70px;
    justify-content:left;
    padding: 0 0;
    gap: 20px;
  }
  .inputDiv{
    width: 130px;
    height: 12px;
    border:1px solid grey;
    flex:1;
  }
  .inputDiv input {
    padding: 0 0;
    font-size: 12px;
    
  }
  .searchIcon{
    padding: 0 0;
  }
  .login{
    font-size: small;
    margin-right: 10px;
  }
  .companyName h2{
    margin: 0;
    margin-left: 15px;
    font-size:1.3rem;
  }
  /*items and  middle section*/
  .middleSection{
    padding: 0 0;
  }
  .itemsImgsSection{
    margin-top: 85px;
  }
  h3{
    font-size: medium;
  }
  .foodChainSection{
  height: 200px;
  }
  .firmImages img{
  height: 180px;
  width: 260px;
  flex: 0 0 auto;
  object-fit: cover;
  border-radius: 10px;
  }  
  .vendorsGroup{
    margin-right: 10px;

  }
  .firmImages{
    width: 260px;
    height:180px;
  }
  .vendorsGroup .FirmName{
    font-size: small;
  }
  .foodMediaChainSection{
    margin-top: -30px;
  }
  .foodMediaChainSection h3{
  padding-top: 5px;
  }
  .btns{
    font-size: 1.3rem;
    padding-bottom: 0;
  }
  /*firm collections*/
  .firmCollectionSection{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .filterButtons button{
    padding: 5px 0;
    width:78px;
  }
  .firmImgs{
    height: 130px;
    width: 100%;
    position: relative;
  }
  .firmDetails{
    margin-bottom:-5px;
  }
  .firmOffer{
    max-width:88%;
    font-size:small;
    padding:10px;
    bottom: 0;
    position: absolute;
  }
  /*products page*/
  .productSection{
    padding: 0;
  }
  .productName{
    font-size: small;
  }
  .productDetails{
    font-size: small;
  }
  .foodItemsSection{
    padding: 5px 25px;
  }
  /*cart Page*/
  .cartItemsSection{
  padding: 0 0;
  margin-top: 100px;
}
.headings{
  display: none;
}
.cartItemsSection h3{
  text-align: center;
  background-color: orange;
  border-radius: 5px;
  color: black;
}
.eachItem{
  display: flex;
  flex-direction: column;
  padding: 0 0;
  align-items:flex-start;
  position: relative;
  padding: 0 50px;
  border-top: 2px solid grey;
}
.eachItem img{
  width: 120px;
  object-fit: cover;
  margin-top: 10px;
}
.cartProductName{
  margin: 0;
  font-weight: 700;
}
.cartItemPrice{
  margin: 0;
}
.cartItemDesc{
  width: 250px;
  margin: 0;
}
.trashBtn{
  height: 40px;
  width: 50px;
  position: absolute;
  right: 0;
  margin: 10px;
  margin-right: 50px;
  border-radius: 5px;
}
.eachItem p {
  padding:0 10px;
}
.cartIcon{
  font-size: large;
  margin-right: 5px;
}
.IconCart{
  font-size: large;
  margin-right: 5px;
}
.cartCount{
  margin-left: 5px;
}
.emptyCart{
  display: flex;
  justify-content: left;
  height: 100vh;
  width: 100vw;
  border:none;
  align-items: flex-start;
}
.emptySection{
  padding: 0;
  margin: 0;
}

















}